# Symfony
/vendor/
/var/
/.env.local
.env.test
.env.*
*.lock
*.log
*.sqlite
*.~lock.*
/public/build/
!/public/.htaccess

# Editor config
/.idea/
.vscode/
.DS_Store
*.sublime-workspace
*.sublime-project

# Node
/node_modules/

# Archivos temporales
~$*
*.swp
*.tmp
*.bak
*.orig

# Archivos de backup y sistema
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de pruebas, dumps, fixtures opcionales
contenido_archivos.txt
docker/mysql/*.sql
/tests/var/
coverage/
